<launch>
  <!-- Paths -->
  <arg name="map_file"
       default="$(find pursuit_planner)/maps/map3.txt" />
  <arg name="heightmap_png"
       default="$(find pursuit_sim)/worlds/heightmap_map3.png" />
  <arg name="world_path"
       default="$(find pursuit_sim)/worlds/terrain_world.world" />

<!-- Planner node -->
  <arg name="planner_ns" default="pursuit_planner/pursuit_planner_node" />


  <!-- 1) Generate heightmap + world BEFORE / ALONGSIDE Gazebo -->
  <node name="generate_heightmap"
        pkg="pursuit_sim"
        type="generate_heightmap.py"
        output="screen"
        respawn="false"
        clear_params="false"
        args="$(arg map_file)
              --heightmap_png=$(arg heightmap_png)
              --world_path=$(arg world_path)
              --max_height=1.0">
    <!-- IMPORTANT: do NOT set required="true" here -->
  </node>

  <!-- 2) Start Gazebo with that world -->
  <node name="gazebo"
        pkg="gazebo_ros"
        type="gzserver"
        args="-e ode $(arg world_path)"
        output="screen" />

  <node name="gazebo_gui"
        pkg="gazebo_ros"
        type="gzclient"
        output="screen" />


<!-- Visualization node -->
  <node pkg="pursuit_sim"
        type="gazebo_obj_handler.py"
        name="gazebo_object_visualizer"
        output="screen">
    <!-- Make topics line up with planner ns -->
    <param name="robot_topic"  value="/$(arg planner_ns)/robot_pose" />
    <param name="target_topic" value="/$(arg planner_ns)/target_pose" />

    <!-- Same dyno YAML used by the planner -->
    <param name="dyno_yaml" value="$(find pursuit_planner)/config/dyno_map3.yaml" />

    <!-- Optionally list obstacle IDs explicitly if you want -->
    <!-- <param name="obstacle_ids" value="['ob1','ob2']" /> -->

    <!-- Grid-to-world mapping -->
    <param name="resolution" value="1.0" />
    <param name="origin_x"   value="0.0" />
    <param name="origin_y"   value="0.0" />
  </node>


</launch>
